extends view

block body
  .container
    h1 Software development effort estimation
    
    form
      .form-group
        label(for='ref') Reference
        input#ref.form-control(type='text' placeholder='Backlog item reference')
      .form-group
        label(for='approach') Estimation approach
        select#approach.form-control
          option(value='analogy') Analogy-based estimation
          option(value='wbs') WBS-based (bottom up) estimation
          option(value='parametric') Parametric models
          option(value='size') Size-based estimation models
          option(value='group') Group estimation
          option(value='mechanical') Mechanical combination
          option(value='judgmental') Judgmental combination
      .form-group
        label(for='category')
        select#category.form-control
          option(value='formal') Formal estimation model
          option(value='expert') Expert estimation
          option(value='combination') Combination-based estimation
          
  script(src='js/effortestimation.js')
        