extends view

block body
  .container
    h1 Software development effort estimation
    
    form
      .form-group
        label(for='ref') Reference
        input#ref.form-control(type='text' placeholder='Backlog item reference')
      .form-group
        label(for='approach') Estimation approach
        select#approach.form-control
          option(value='analogy-based') Analogy-based estimation
          option(value='') WBS-based (bottom up) estimation
          option Parametric models
          option Size-based estimation models
          option Group estimation
          option Mechanical combination
          option Judgmental combination
      .form-group
        label(for='category')
        select#category.form-control
          option Formal estimation model
          option Expert estimation
          option Combination-based estimation
        